main {
  display: grid;
  place-content: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px;
  background-color: var(--second-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  border: var(--border);
  width: 850px;
}

.main-form.main-form_text {
  gap: 20px;
}

.main-form h2 {
  text-align: center;
}

.main-form .main-form__p {
  text-align: center;
}

.main-form .danger {
  background-color: var(--back-err);
  color: var(--text-color-err);
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.main-form div:not(:has(input[type="checkbox"])) {
  position: relative;
}

.main-form div:not(:has(input[type="checkbox"])) label {
  color: var(--text-color-form);
  pointer-events: none;
}

.main-form div:has(img) {
  display: grid;
  gap: 35px;
}

.main-form div:has(img) img {
  justify-self: center;
  border-radius: 8px;
}

.main-form .links {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-form);
}

.main-form .check {
  /* Targeting the checkbox input directly */
  display: none;
}

.main-form .checkbox {
  /* Styles for the visible checkmark label */
  padding: 3px 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: var(--second-color);
  border: var(--border);
  box-shadow: var(--shadow-inset);
  color: transparent;
  font-weight: 900;
}

.main-form input[type=checkbox]:checked+.checkbox {
  /* Styles for when the hidden checkbox is checked */
  color: var(--text-color-form);
}

.main-form .link {
  pointer-events: auto;
}

.main-form .link a {
  border-bottom: 2px solid var(--text-color-form);
}

.main-form .btn_submit {
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
}
