.wrapp{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .btn{
    align-self: center;
    padding: 10px 15px;
  }
}
.list{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  );
  gap: 20px;

  div:has(#image-clear_id){
    display: none;
  }
}

.item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--second-color);
  box-shadow: var(--shadow-inset);

  .item__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 10px;
  }
  img{
    width: 100%;
  }
  .btn{
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
  }
}
