# Секретный ключ, должен быть индивидуален и засекерчен
DJANGO_SECRET_KEY=your_secret_key
# Включение DEBUG для приложения
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
# Активирован ли аккаунт пользователя после регистрации
DJANGO_DEFAULT_USER_IS_ACTIVE=false
# Почта для отправки сообщения, но они отправляются пока локально и появляются в папке
DJANGO_MAIL=your_mail@mail.mail
