{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}
{% block content %}
  <section class="main-info container">
    <h3 align="center">{% translate 'Basic information' %}</h3>
    <div class="left left-image">
      <img src="{{ news.image.image.url }}" alt="{% translate 'error' %}">
      {% if news.image.image.url %}
        <a
          href="{% url 'download:download_image' news.image.image.url|slice:'7:' %}"
          class="btn btn-dark abs"
        >
          {% translate 'Download image' %}
        </a>
      {% endif %}
    </div>
    <article class="right right-text">
      <h3>{{ news.title }}</h3>
      <div class="des">
        <b>
          {% translate 'Text :' %}
        </b>
        {{ news.about|safe }}
      </div>
    </article>
  </section>
{% endblock %}
