{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock extra_css %}
{% block content %}
  <div class="main-form main-form_text">
    <h2>{% translate 'An email has been sent to you with a link to reset your password' %}</h2>
    <p class="main-form__p">
      {% translate 'If you haven`t received the email, make sure you entered the correct address you registered with and check your spam folder' %}
    </p>
    <a href="{% url 'homepage:homepage' %}" class="btn btn_submit">{% translate 'Main' %}</a>
    <a href="{% url 'users:login' %}" class="btn btn_submit">{% translate 'Log In' %}</a>
  </div>
{% endblock content %}
