{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock extra_css %}
{% block content %}
  <form class="main-form" novalidate method="post">
    <h2>{% translate 'Password reset' %}</h2>
    {% if form.errors %}<div class="danger">{{ form.errors }}</div>{% endif %}
    {% csrf_token %}
    {% with form=form %}
      {% include "includes/form.html" %}
    {% endwith %}
    <button type="submit" class="btn btn_submit">{% translate 'Reset' %}</button>
  </form>
{% endblock content %}
