{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extra_css %}
{% block content %}
  <form class="profile" method="post" enctype="multipart/form-data">
    <div class="profile__left block">
      {% if user.image %}
        <img src="{{ user.image.url }}"
             alt="{% translate 'error' %}"
             class="profile__image">
      {% else %}
        <img src="{% static 'img/no-avatar.jpg' %}"
             alt="{% translate 'error' %}"
             class="profile__image">
      {% endif %}
      <a href="{% url 'users:password-change' %}" class="btn btn_change">{% translate 'Change the password' %}</a>
      <a href="{% url 'users:logout' %}" class="btn">{% translate 'Log Out' %}</a>
    </div>
    <div class="profile__right block">
      {% csrf_token %}
      {% with form=form %}
        {% include "includes/form.html" %}
      {% endwith %}
      <button type="submit" class="btn btn_profile">{% translate 'Change Profile information' %}</button>
    </div>
  </form>
{% endblock content %}
