{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock extra_css %}
{% block content %}
  <form class="main-form" method="post">
    <h2>{% translate 'Sign Up' %}</h2>
    {% csrf_token %}
    {% with form=form %}
      {% include "includes/form.html" %}
    {% endwith %}
    <p>
      <span class="red">*</span> - {% translate 'required field' %}
    </p>
    <div class="links">
      <a href="{% url 'users:login' %}">{% translate 'Do you have an account?' %}</a>
    </div>
    <button type="submit" class="btn btn_submit">{% translate 'Sign Up' %}</button>
  </form>
{% endblock content %}
