{% load static %}
{% load i18n %}

<div class="item item{{ item.id }}">
  <img src="{{ item.image.image.url }}"
     alt="тут должна быть картинка, но не судьба" />
  <div class="item__text">
    <h3>{{ item.name }}</h3>
    <div class="item__des">
      <b>
        {% translate 'Text :' %}
      </b>
      {{ item.text|truncatewords_html:10|safe }}
    </div>
    <p>
      <b>
        {% translate 'Category :' %}
      </b>
      {{ item.category.name }}
    </p>
  </div>
  <div class="item__tags">
    {% for tag in item.tags.all %}<span>{{ tag.name }}</span>{% endfor %}
  </div>
  <a href="{% url 'news:news' item.pk %}" class="btn btn-light">{% translate 'View more information' %}</a>
</div>
